.root {
}

.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #abbfd4;
  margin-bottom: 30px;
}

.content {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  padding-bottom: 20px;

  border-bottom: #323d4d 2px solid;
}

.left {
  margin-right: 40px;
}

.blue {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #4172f6;
}

.reviews {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #737582;
}

.likes,
.dislikes {
  display: flex;
  align-items: center;

  span {
    margin-left: 10px;
  }
}

.likes {
  margin-bottom: 10px;
}

.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #abbfd4;
  max-width: 710px;
}

.bottom {
  width: 100%;
  border: 1px solid #323d4d;
  background-color: #151a23;
}

.paymentMethod {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 14px;
  padding-bottom: 16px;

  border-bottom: #323d4d 2px solid;
}

.wallet,
.delete {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: rgb(255, 140, 0);
  background: #1d2532;
  border-radius: 5px;
  padding: 4px 6px;
}

.delete {
  color: #d83434;
}

.nav {
  margin: 60px 0 30px;
}

.navBtn {
  opacity: 0.9;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #abbfd4;
  margin-right: 20px;
  padding-bottom: 12px;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
    transition: linear;
  }
}

.navBtnActive {
  border-bottom: 2px solid #4172f6;
}
